{{#each erros}}
<div class="alert alert-danger" role="alert">
  {{texto}}
</div>
{{else}}

{{/each}}

<h4>Nova Postagem</h4>
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo">
      </div>

      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug">
      </div>

      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="descricao" name="descricao">
      </div>

      <div class="mb-3">
        <label for="conteudo" class="form-label">Conteúdo</label>
        <textarea class="form-control" id="conteudo" name="conteudo"></textarea>
      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <select id="categoria" name="categoria" class="form-select">
          {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
          {{else}}
          <option value="0">Nenhuma categoria</option>
          {{/each}}

        </select>
      </div>

      <button type="submit" class="btn btn-success">Criar Postagem</button>
    </form>
  </div>
</div>