<h2>Categorias</h2>

<a class="btn btn-success" href="/admin/categorias/add" role="button">Nova categoria</a>

<div class="card mt-4">
  <div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Slug</th>
					<th scope="col">Data de criação</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{{#each categorias}}
				<tr>
					<td>{{nome}}</td>
					<td>{{slug}}</td>
					<td>{{date}}</td>
					<td><a class="btn btn-outline-success btn-sm" href="/admin/categorias/edit/{{_id}}" role="button"><i class="bi bi-pencil-square"></i></a></td>
				</tr>
				{{else}}
				{{/each}}
			</tbody>
		</table>
  </div>
</div>
