{{#each erros}}
<div class="alert alert-danger" role="alert">
  {{texto}}
</div>
{{else}}

{{/each}}

<h4>Editar categoria</h4>
<div class="card">
  <div class="card-body">
    <form action="/admin/categorias/edit" method="POST" class="row g-3">
      <div class="col-md-12">

        <input type="hidden" class="form-control" id="id" name="id" placeholder="Nome da categoria" value="{{categoria._id}}" required>
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da categoria" value="{{categoria.nome}}" required>
      </div>
      <div class="col-md-12">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug da categoria" value="{{categoria.slug}}" required>
      </div>
      <div class="col-12">
        <button class="btn btn-success" type="submit">Editar categoria</button>
      </div>
    </form>
  </div>
</div>